.ragister{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem ;
    padding-bottom: 2rem;
    transition: all .3s;
    gap: 5rem;
}

.ragister .ragisterimg img{
    width: 30rem;
}

.ragister .form_data{
    width: 22rem;
    margin: 25px auto;
    padding: 35px 30px;
    box-shadow: 0 0 15px -10px #232354;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ragister .form_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_data h1{
    font-size: 34px;
    color: #232354;
}

.form_data p{
    color: #718096;
    font-size: 15px;
    padding-top: 0px;
}

.form_data form{
    margin-top: 10px;
    width: 100%;
}

.form_data form .form_input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;  
}

.form_data form .form_input label{
    font-size: 20px;
}

.form_input .two{
    display: flex;
    align-items: center;
    position: relative;
}

.form_data form .form_input input:focus{
    border:2px solid rgba(66, 153, 225,0.6);
}


.form_data form .form_input input::placeholder{
    color: #8694a8;
    letter-spacing: .5px;
    font-size: 14px;
}

.form_input .showpass{
    position: absolute;
    right: 0;
    top:1px;
    padding: 7px 10px;
    margin-right: 5px;
    margin-top: 12px;
    font-size: 14px;
    color: white;
    background-color: #232354;
    border-radius: 5px;
    cursor: pointer;
}

form .btn{
    display:block;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:#232354;
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
}


form .btn:hover{
    background-color: #97a1b1;
}

.form_data form p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.form_data form a{
    text-decoration: none;
    color:#718096 ;
    border-bottom: 2px solid #8694a8;
}

@media screen and (max-width:1200px) {
    .ragister .ragisterimg img{
        width: 25rem;
    }  
    .ragister .ragisterimg{
        padding-top: 2rem;
    }
    .ragister{
        gap: 2rem;
    }
}

@media screen and (max-width:1024px) {
    .ragister .ragisterimg{
        display: none;
    }
}

@media screen and (max-width:400px) {
    .form_data p{
        font-size: 13px;
    }
}