@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins";
}

.cardstext {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.startcard {
    padding: 2rem 1rem;
    text-align: center;
    border-radius: .4rem;
}

.startcard {
    font-family: "Poppins";
    box-shadow: 0px 0px 10px -9px black;
}

.startcard div {
    margin: auto;
    text-align: center;
}

.startcard div img {
    width: 80%;
    height: 10rem;
    border-radius: .3rem;
}

.allimages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.allimages img {
    width: 94%;
}

.cardtext {
    padding-top: 4rem;
}

.startVideo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.startVideo img {
    width: 25rem;
    border-radius: .5rem;
}

.aboutPlace {
    font-size: '20px';
}

.text {
    font-size: 1.3rem;
}

.btn-more {
    color: white;
    border-radius: .3rem;
    text-decoration: none;
    font-size: 1rem;
    padding: .6rem 2rem;
    background-color: #ff7e01;
}

.btn-more:hover {
    color: white;
    background-color: #ff7e01;
}

.btns {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .btns .btn-edit {
    color:#ff7e01;
    border-radius: .3rem;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: .5rem 2rem;
    border: 2px solid #ff7e01;
    background: transparent;
} */

.btns .btn-del{
    color:red;
    border-radius: .3rem;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: .5rem 2rem;
    border: 2px solid red;
    background: transparent;
}

.btns .btn-view{
    color:#ff7e01;
    border-radius: .3rem;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: .5rem 2rem;
    border: 2px solid #ff7e01;
    background: transparent;
}